.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stack-container {
  margin-top: 35px;
  margin-bottom: 30px;
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
}

.brand {
  flex-shrink: 0;
  margin: 0 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    @include size(60px);
  }

  &__text {
    margin-top: 3px;
    line-height: 1.25;
    letter-spacing: 0.1em;
    font-size: $font-size-sm;
    font-weight: 700;
  }
}

.pile-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.card-list {
  position: relative;
}

.card {
  width: 95px;
  height: 145px;
  border-radius: 5px;

  &--suit {
    position: absolute;
    border: 1px solid $gray-lighter;
    background-color: $gray-white;

    > img {
      @include size(100%);
    }
  }

  &--slot {
    border: 2px solid rgba($gray-lightest, 0.6);
  }

  &--fundation {
    background-color: rgba($gray-lightest, 0.6);

    > img {
      @include position-centre;
      @include size(35px);
    }
  }
}
