$card-width: 95px;
$card-height: 145px;

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stack-container {
  margin-top: 35px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.king {
  margin: 0 23px;
  flex-shrink: 0;
  width: 74px;
}

.pile-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.card-list {
  position: relative;
}

.card-slot {
  width: $card-width;
  height: $card-height;
  border: 1px solid $gray-lightest;
  border-radius: 3px;
}

.card-item {
  position: absolute;
  width: $card-width;
  height: $card-height;
  border: 1px solid $gray-light;
  border-radius: 3px;
  background-color: pink;
}
