.board {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__stack-container {
    margin-top: 35px;
    margin-bottom: 30px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
  }
}
